.text-left {
	text-align: left
}
.text-right {
	text-align: right
}
.toolbar {
	min-height: 0px;
  height: 48px;
  justify-content: space-between;
}
.toolbar > div {
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidenav {
	width: 220px;
}
md-list {
	padding: 0px;
}
md-icon {
	margin: 5px !important;
}
md-content {
  padding: 20px;
}
h1 {
  margin: 0px 0px 10px;
}
.myGrid {
  width: inherit;
  height: 100%;
}
.myGrid .ui-grid-header-cell {
  text-align: center;
}
.myGrid2 {
  width: inherit;
  height: 100%;
  margin-top: 20px;
}
.button-menu {
  min-width: 0px;
  margin: 0px;
}
/* test this later
md-sidenav,
md-sidenav.md-locked-open-add-active,
md-sidenav.md-closed.md-locked-open-add-active,
md-sidenav.md-locked-open {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
}
*/
/*
   This is the background of our overlay. We need it to be
   absolutely positioned within the grid, and fill from
   top to bottom, and the full width. It will also have
   a black background with 40% opacity.
*/
.grid-msg-overlay {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: whitesmoke;
  align-items: center;
  justify-content: center;
}

.update {
  -webkit-animation: update 2s infinite linear;
  animation: update 2s infinite linear;
}
@keyframes update {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes update {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.margin-bottom {
  margin-bottom: 40px;
}

.font-12 {
  font-size: 12px;
}